.lc{

    background-color: #27293D;
    padding: 30px;
    border-radius: 10px;
}

.bc{
    margin-top: 30px;
    background-color: #27293D;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.dh{
    padding-bottom: 50px;
}

.dh-bg{
    background-color: #1A1A26;
}

