.banner {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../../../Image/banner-bg.jpg'); */
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0px !important;
}

.banner-btn {
    background-color: rgba(40, 249, 249, 0.429);
    border: 2px solid rgba(25, 250, 250, 0.918);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 900;
    font-family: Anton, sans-serif;
    margin-left: -285px;
    padding: 1.2rem 3rem;
}

.banner-btn:hover {
    background-color: #00000000;
    border: 2px solid rgba(25, 250, 250, 0.918);
    border-radius: 5px;
    font-size: 1rem;
    color: rgba(25, 250, 250, 0.918);
    font-weight: 900;
    font-family: Anton, sans-serif;
    padding: 1.2rem 3rem;
}


.s-i{
    height: 500px;
    margin-top: -20px;
}
.s-i2{
    height: 300px;
    margin-top: 80px;
}

.s-info{
    margin-top: 80px;
}