.ct-bar{
    height: 50px;
    background-color: #237FF7;
    border: 1px solid #237FF7;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 460px;
}

.c-h6{
    font-weight: 700;
    color: white;
    text-align: left;
    margin-top: 15px;
}

.c-in{
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 30px;
    width: 400px;
    border: 2px solid #1071f0;
    background-color: #ffffff;
    padding-left: 20px;
}


.c-i{
    font-size: 28px;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}